* {
    box-sizing: border-box;
}

@font-face {
    font-family: fa-regular;
    src: url(fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: fa-brands;
    src: url(fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: hammersmith;
    src: url(fonts/HammersmithOne-Regular.ttf);
}

/* Generals */

body {
    font-family: hammersmith, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Nav */

.main-nav {
    /* background-color: #546bf3; */
    background: linear-gradient(225deg, rgba(117,67,241,1) 0%, rgba(84,107,243,1) 50%, rgba(109,109,199,1) 100%);     background-size: 500% 500%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    color: #d4ddf7;
    font-weight: 600;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    padding-inline-end: 2rem;
    /* might do nothing? */
}

ul:first-of-type {
    border-inline-end: 1px solid black;
}

.nav-links li {
    padding: 0 1rem;
    border-inline-start: 1px solid black;
    background-image: url(img/yuumi2.png);
    background-size: 3rem;
    background-position: center 2.5rem;
    background-repeat: no-repeat;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(.88, .74, .15, 1.53);
}

.nav-links li:hover {
    cursor: pointer;
    color: #f3c942;
}

.all-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    display: none;
}

.yuumi-head {
    width: 4rem;
    height: 3rem;
    background-image: url(img/yuumi-head3.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center -.8rem;
}

.yuumi-head:hover {
    background-image: url(img/yuumi-head-tilt.png);
}

/* Search Section */

.search-section {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
}

.search-inputs {
    align-self: center;
}

.search-tags {
    display: flex;
    flex-wrap: wrap;
    padding-inline-end: 1rem;
}

.search-tags>* {
    padding-inline-start: 1rem;
    color: #529ecc
}

.search-tags>*:hover {
    color: #f3c942;
    cursor: pointer;
}

/* Gallery */

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

/* Generator */

.main-generator {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 0.5rem;
    overflow-x: hidden;
    gap: 0.5rem;
    flex-direction: column;
}

.canvas-container {
    display: block;
    flex: 1;
}

.generator-controls button {
    background-color: #546bf3;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: fa-solid, hammersmith, sans-serif;
    padding: 1rem;
}

.generator-controls a {
    background-color: #546bf3;
    border-radius: 0.5rem;
    padding: 0.9rem 1.1rem
}

.generator-controls button:hover {
    cursor: pointer;
    color: #f3c942;
}

/* Generator Inputs */

.text-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme-text {
    margin: 1rem 0 0.5rem;
    width: 100%;
    height: 2rem;
    font-size: 1.6rem;
}

.line-editing {
    padding: .25rem;
    display: grid;
    grid-auto-columns: 4rem;
    grid-auto-rows: 4rem;
    grid-template-areas: "switch add . font-color stroke-color" "remove . up . download" ". left accept right ." "align-center . down . save-meme" "align-left align-right . font-up font-down";
    gap: 0.2rem;
}

.download:hover {
    color: #f3c942
}

.share-form {
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: 1rem;
}

.share-fb {
    position: relative;
    top: 0.9rem;
}

/* Colors */

.font-color {
    position: relative
}

.text-font-color {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
}

.stroke-color {
    position: relative
}

.text-stroke-color {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
}

/* End Colors */

/* Saved Memes */

.saved-memes img {
    width: 100%;
}

.saved-memes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* End Saved Memes */

/* Helpers */

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.active {
    box-shadow: inset 0px -6px 0px 0px #f3c942;
}

.hide {
    display: none;
}

@media (min-width: 820px) {
    .main-layout {
        width: 820px;
        margin: 0 auto;
    }
    .nav-links li {
        padding: 2rem;
        border-inline-start: 1px solid black;
        background-image: url(img/yuumi2.png);
        background-size: 3rem;
        background-position: center 5rem;
        background-repeat: no-repeat;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(.88, .74, .15, 1.53);
    }
    .nav-links li:hover {
        cursor: pointer;
        color: #f3c942;
    }
    .all-logo {
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 2rem;
    }
    .yuumi-head {
        width: 7rem;
        height: 5.2rem;
        background-image: url(img/yuumi-head3.png);
        background-size: 6rem;
        background-repeat: no-repeat;
        background-position: center -.8rem;
    }
    .saved-memes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 980px) {
    .main-layout {
        width: 980px;
        margin: 0 auto;
    }
}

/* .stickers img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.stickers {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: .25rem;
} */

@media (min-width: 820px) {
    .main-layout {
        width: 820px;
        margin: 0 auto;
    }
    .nav-links li {
        padding: 2rem;
        border-inline-start: 1px solid black;
        background-image: url(img/yuumi2.png);
        background-size: 3rem;
        background-position: center 5rem;
        background-repeat: no-repeat;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(.88, .74, .15, 1.53);
    }
    .yuumi-head {
        width: 7rem;
        height: 5.2rem;
        background-image: url(img/yuumi-head3.png);
        background-size: 6rem;
        background-repeat: no-repeat;
        background-position: center -.8rem;
    }
    .logo {
        display: block;
    }
    .search-section {
        display: flex;
        flex-direction: row;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    .main-generator {
        flex-direction: row;
    }
    .line-editing {
        grid-auto-columns: 3rem;
        grid-auto-rows: 3rem;
    }
}

@media (min-width: 980px) {
    .main-layout {
        width: 980px;
        margin: 0 auto;
    }
}