* {
    box-sizing: border-box;
}

@font-face {
    font-family: fa-regular;
    src: url(fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: fa-brands;
    src: url(fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: hammersmith;
    src: url(fonts/HammersmithOne-Regular.ttf);
}

body {
    font-family: hammersmith, sans-serif;
    margin: 0;
}

.main-nav {
    background-color: #546bf3;
}

.main-layout {
    width: 980px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d4ddf7;
    font-weight: 600;
    /* text-shadow: 0px 0px 3px #fdfd90; ; */
}

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.nav-links ul {
    padding-inline-end: 2rem;
}

ul:first-of-type {
    border-inline-end: 1px solid black;
}

.nav-links li {
    padding: 2rem;
    border-inline-start: 1px solid black;
    background-image: url(img/yuumi2.png);
    background-size: 3rem;
    background-position: center 5rem;
    background-repeat: no-repeat;
    /* transition: background-position 0.4s; */
    transition: 0.4s;
    /* transition-timing-function: ease; */
    transition-timing-function: cubic-bezier(.88, .74, .15, 1.53);
}

.nav-links li:hover {
    cursor: pointer;
    color: #f3c942;
}

.all-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.yuumi-head {
    width:7rem;
    height: 5.2rem;
    background-image: url(img/yuumi-head3.png);
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: center -.8rem;
}

.yuumi-head:hover {
    background-image: url(img/yuumi-head-tilt.png);
}

.active {
    box-shadow: inset 0px -6px 0px 0px #f3c942;
}

.search-section {
    display: flex;
    padding: 2rem 0;
    /* justify-content: space-between; */
}

.search-inputs {
    align-self: center;
}

.search-tags {
    display: flex;
    flex-wrap: wrap;
    padding-inline-end: 1rem;
}

.search-tags>* {
    padding-inline-start: 1rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.main-generator {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 0.5rem;
    overflow-x: hidden;
    gap: 0.5rem;
}

.canvas-container {
    display: block;
    background-color: wheat;
    flex: 1;
}

.generator-controls {
    width: 400px;
    padding-bottom: 3rem
}

.generator-controls button {
    background-color: #546bf3;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: fa-solid, sans-serif;
    padding: 1rem;
}

.generator-controls button:hover {
    cursor: pointer;
    color: #f3c942;
}

.meme-text {
    margin: 1rem 0 0.5rem;
    width: 100%;
    height: 2rem;
    font-size: 1.6rem;
}

.text-position-btns {
    padding: .25rem;
    display: grid;
    grid-auto-columns: 3rem;
    grid-template-areas: ". up ." "left accept right" ". down .";
    gap: 0.2rem;
}

.text-up {
    grid-area: up;
}

.text-left {
    grid-area: left;
}

.ready {
    grid-area: accept;
}

.ready::before {
    content: "\f00c";
}

.text-right {
    grid-area: right;
}

.text-down {
    grid-area: down;
}

.line-editing {
    padding: 0.25rem;
}

.text-styling {
    padding: .25rem;
}

.text-styling>* {
    margin: .5rem 0;
}

.stickers img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.add-line::before {
    content: "\f067"
}

.remove::before {
    content: "\f2ed"
}

.switch-row::before {
    content: "\f362"
}

.text-up::before {
    content: "\f062";
}

.text-down::before {
    content: "\f063";
}

.text-left::before {
    content: "\f060"
}

.text-right::before {
    content: "\f061"
}

.font-up::before {
    content: "\f424"
}

.font-down::before {
    content: "\f422"
}

.align-left::before {
    content: "\f036"
}

.align-center::before {
    content: "\f037"
}

.align-right::before {
    content: "\f038"
}

.stroke-color::before {
    content: "\f853"
}

.font-color::before {
    content: "\f53f"
}

.stickers {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: .25rem;
}

.social {
    padding: .25rem;
}

.social>* {
    background-color: #546bf3;
    color: #b4c5f5;
    border: none;
    border-radius: 0.5rem;
    font-family: fa-solid, sans-serif;
    padding: 1rem;
}

.download::before {
    font-family: fa-solid, sans-serif;
    content: "\f019"
}

.facebook::before {
    font-family: fa-brands, sans-serif;
    font-size: 15px;
    content: "\f39e";
    padding: 0 3px;
}

.hide {
    display: none;
}

.font-color {
    position: relative
}

.text-font-color {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
}

.stroke-color {
    position: relative
}

.text-stroke-color {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
}